$background_color_1000:#1E1E1E;
$background_color_900: #0f1016;
$background_color_800: #191b22;
$background_color_700: #1f2128;
$background_color_600: #21212a;
$background_color_500: #242730;
$background_color_400:#292c35;
$background_color_300: #2e2f37;
$background_color_200:#2f323c;
$background_color_100:#353740;


$border_color1:linear-gradient(to bottom, rgba(41,44,53,0) 0%, #292c35 100%);
$border_color2:-webkit-gradient(linear, left top, left bottom, from(rgba(41,44,53,0)), to(#292c35));
$border_color3:rgba(63,65,77,0.5);
$border_color: #3c3f49;
$font_color_400: #5e5e64;
$font_color_300: #9795ac;
$font_color_200: #b7b7ce;
$font_color_100: #f0f0f7;

.layout_board{
    color: $background_color_1000;
    background-color: $background_color_600;
}
.layout_title{
    color: $font_color_300;
    background-color: $background_color_100;
}
.layout_bar{
    color: $font_color_200;
    background-color: $background_color_400;
    text-align:left;
    border-color: $border_color;
    height: 100%;
    width: 270px;
}
.layout_card{
    border: 0px;
    width: 13rem;
    height: 6.2rem;
    color: $font_color_200;
    background-color: $background_color_100;
    border-color: $border_color;
    border-radius: 0.2rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    position: absolute;

}
.layout_card_title{
    color: $font_color_100;
    flex: 0 0 62%;
    background-color: $background_color_300;
    padding:0 0.8rem 0;
    display: flex;
}

.layout_card_title_icon{
    margin-right: 0.5rem;
    background-size: 1.5rem 1.5rem;
    font-size: 26px;
    opacity:0.8;
    margin-top: 0.75rem;
}
.layout_card_title_text{
    font-weight: 400;
    margin-top: 0.75rem;
}
.layout_card_title_footer{
    display: flex;
    box-sizing: inherit;
}
.layout_card_title_desc{
    width: 100%;
    padding: 0 0.6rem;
    margin: 0.6rem 0;
    font-size: 0.75rem;
    line-height: 1.28;
    white-space: nowrap;
    font-weight: 300;
}
.layout_five{
    color: $font_color_100;
    background-color: $background_color_100;
}